RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} jokura.net
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

<Files ~ "\.(html|php|js|jpe?g|png|ico)$">
Header set Pragma no-cache
Header set Cache-Control no-cache
</Files>
