@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

main {
    padding-top: 55px;
    z-index: 1;
}

.background {
    height: 100vh;
    left: 0;
    object-fit: cover;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: -1;

    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}

#landscape {
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99999;
}

.block {
    height: 40px;
}

.pagetop {
	background-color: #2699FB;
	border-radius: 3.3rem;
	bottom: 1rem;
	color: #ffffff;
	cursor: pointer;
	display: none;
	font-size: 1.5rem;
	height: 3.3rem;
	line-height: 3.3rem;
	position: fixed;
	right: 1rem;
	text-align: center;
	text-decoration: none;
	width: 3.3rem;
}
