@charset "utf-8";
@import url("/assets/css/common.css");
@import url("/assets/css/menu.css");
@import url("/assets/css/header.css");

.header_title::before {
    content: "ピクチャ";
}

.block {
    height: 40px;
}

.gallery_container {
    margin: 25px auto 0;
    width: fit-content;
}

.gallery_img {
    height: 175px;
}

.gallery_photographer {
    color: #2699FB;
    font-family: Arial;
    font-size: 10px;
    /* font-weight: bold; */
    /* margin-top: 77px; */
    text-align: right;
    position: relative;
    bottom: 13px;
    right: 2px;
}

.gallery_post {
	background-color: #2699FB;
	border-radius: 3.3rem;
	bottom: 1rem;
	color: #ffffff;
	cursor: pointer;
	display: none;
	font-size: 1.5rem;
	height: 3.3rem;
	line-height: 3.3rem;
	position: fixed;
	right: 1rem;
	text-align: center;
	text-decoration: none;
	width: 3.3rem;
}

.gallery_new {
    position: fixed;
    bottom: 12px;
    right: 10px;
    width: 50px;
}

@media screen and (min-width: 600px) {
    .backup_box {
        /* background-color: #ffffffad; */
        /* border: solid 1px #2699fb; */
        height: 751px;
        margin-bottom: 0;
        margin-top: 40px;
        /* text-align: center; */
        width: 502px;
    }

    .backup_title {
        /* color: #2699FB; */
        /* font-family: Arial; */
        font-size: 45px;
        /* font-weight: bold; */
        margin-top: 77px;
    }

    .backup_img {
        margin-top: 70px;
        width: 202px;
        /* -webkit-tap-highlight-color: #00000000; */
        /* -webkit-touch-callout: none; */
    }

    .backup_contents {
        /* color: #2699FB; */
        /* font-family: Arial; */
        font-size: 25px;
        line-height: 42px;
        margin-top: 92.3px;
    }

    .backup_box a {
        position: relative;
        z-index: 4;
    }

    #yes, .backup_yes {
        /* display: inline-block; */
        margin-top: 64px;
        width: 75px;
        /* -webkit-tap-highlight-color: #00000000; */
        /* -webkit-touch-callout: none; */
    }

    .backup_no {
        /* display: inline-block; */
        margin-left: 54.7px;
        margin-top: 64px;
        width: 75px;
        /* -webkit-tap-highlight-color: #00000000; */
        /* -webkit-touch-callout: none; */
    }    
}