@charset "utf-8";
@import url("/assets/css/common.css");
@import url("/assets/css/menu.css");
@import url("/assets/css/header.css");

.header_title::before {
    content: "ピクチャ";
}

.block {
    height: 40px;
}

form {
    background-color: #ffffffad;
    border: solid 1px #2699fb;
    height: 435px;
    margin: 30px auto 0;
    text-align: center;
    width: 90vw;
}

.galleryTitle {
    color: #2699fb;
    font-family: Arial;
    font-size: 26px;
    font-weight: bold;
    margin-top: 45px;
}

#galleryPhotographer {
    background-color: #ffffff;
    border: solid 1.5px #2699fb;
    border-radius: 50px;
    color: #2699fb;
    font-size: 16px;
    height: 45px;
    margin: 70px auto 0;
    text-align: center;
    width: 280px;

    -webkit-appearance: none;
}

#galleryPhoto {
    font-family: Arial;
    margin: 50px auto 0;
}

_::-webkit-full-page-media, _:future, :root #galleryPhoto {
    width: 200px;
}

.errorMessage {
    color: #fb2626;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin-top: 45px;
}

#galleryUpload {
    display: inline-block;
    margin-top: 40px;
    vertical-align: bottom;
    width: 60px;

    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}

.galleryCancel {
    display: inline-block;
    margin-left: 30px;
    margin-top: 40px;
    vertical-align: bottom;
    width: 60px;

    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}

@media screen and (min-width: 600px) {
    form {
        height: 600px;
        width: 600px;
    }

    .galleryTitle {
        font-size: 45px;
        margin-top: 77px;
    }

    #galleryPhotographer {
        height: 55px;
        margin: 120px auto 0;
        position: relative;
        width: 500px;
        z-index: 10;
    }

    #galleryPhoto {
        position: relative;
        text-align: center;
        z-index: 10;
    }

    .errorMessage {
        font-size: 16px;
    }

    #galleryUpload {
        margin-top: 70px;
        position: relative;
        width: 75px;
        z-index: 10;
    }

    .galleryCancel {
        margin-top: 70px;
        position: relative;
        width: 75px;
        z-index: 10;
    }
}