@charset "utf-8";
@import url("/assets/css/common.css");
@import url("/assets/css/menu.css");
@import url("/assets/css/header.css");

.header_title::before {
    content: "バックアップ履歴";
}

.block {
    height: 40px;
}

div[class*="history_box_"] {
    background-color: #ffffffad;
    border: solid 1px #2699fb;
    display: inline-block;
    height: 120px;
    margin-top: 20px;
    position: relative;
    vertical-align: bottom;
    width: 43.4vw;
}

.history_box_right {
    margin-left: 20px;
}

.history_empty {
    display: inline-block;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    vertical-align: bottom;
    width: 43.4vw;
}

.history_delete {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}

.history_image {
    margin-top: 31.7px;
    width: 47px;
    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}

.history_date {
    color: #2699FB;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.history_time {
    color: #8E8E8E;
    font-family: Arial;
    font-size: 14px;
    margin-top: 2px;
}

@media screen and (min-width: 600px) {
    main {
        margin: 0 auto;
        width: 700px;
    }

    div[class*="history_box_"] {
        height: 234px;
        margin-top: 34px;
        width: 300px;
    }

    .history_box_right {
        margin-left: 80px;
    }

    .history_empty {
        height: 234px;
        margin-left: 80px;
        margin-top: 34px;
        width: 300px;
    }

    .history_delete {
        right: 19px;
        top: 19px;
        width: 23px;
    }

    .history_image {
        margin-top: 61.8px;
        width: 91.3px;
    }

    .history_date {
        font-size: 23px;
        margin-top: 21.6px;
    }

    .history_time {
        font-size: 19px;
        margin-top: 5px;
    }
}