@charset "utf-8";
@import url("/assets/css/common.css");
@import url("/assets/css/menu.css");
@import url("/assets/css/header.css");

.header_title::before {
    content: "メンテナンス中";
}

.maintenance_box {
    background-color: #ffffffad;
    border: solid 1px #2699fb;
    height: 500px;
    margin: 40px auto 0;
    text-align: center;
    width: 90vw;
}

.maintenance_title {
    color: #2699FB;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
}

.maintenance_img {
    margin-top: 70px;
    width: 65vw;

    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}

.maintenance_contents {
    color: #2699FB;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
}

.maintenance_copyright {
    color: rgb(56, 56, 56);
    font-family: Arial;
    font-size: 12px;
    margin-top: 85px;
}

@media screen and (min-width: 600px) {
    .maintenance_box {
        height: 800px;
        margin: 100px auto 0;
        width: 775px;
    }

    .maintenance_title {
        font-size: 45px;
        margin-top: 90px;
    }

    .maintenance_img {
        margin-top: 100px;
        width: 600px;
    }

    .maintenance_contents {
        font-size: 30px;
        margin-top: 80px;
    }

    .maintenance_copyright {
        font-size: 16px;
        margin-top: 90px;
    }
}