@charset "utf-8";

.wrapper {
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

.menu-trigger, .menu-trigger span {
    box-sizing: border-box;
    display: inline-block;
    transition: all .4s;

    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}

.menu-trigger {
    cursor: pointer;
    display: inline-block;
    height: 18px;
    left: 19.5px;
    position: fixed;
    top: 23.5px;
    vertical-align: middle;
    width: 20px;
    z-index: 100;
}

.menu-trigger span {
    background-color: #fff;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 8px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.active span:nth-of-type(1), .menu-trigger.active span:nth-of-type(3) {
    width: 20px;
}

.menu-trigger.active span:nth-of-type(1) {
    transform: translate(-5.8px,5.6px) rotate(-45deg) scaleX(0.5);
    -webkit-transform: translate(-5.8px,5.6px) rotate(-45deg) scaleX(0.5);
}

.menu-trigger.active span:nth-of-type(2) {
    transform: translate(1.2px,0.6px) scaleX(1.05);
    -webkit-transform: translate(1.2px,0.6px) scaleX(1.05);
}

.menu-trigger.active span:nth-of-type(3) {
    transform: translate(-5.8px,-4.6px) rotate(45deg) scaleX(0.5);
    -webkit-transform: translate(-5.8px,-4.6px) rotate(45deg) scaleX(0.5);
}

.menu-trigger::after {
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 50%;
    content: '';
    display: block;
    height: 30px;
    left: 50%;
    margin: -16px 0 0 -16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all .1s;
    width: 30px;
}
.menu-trigger.active::after {
    animation: circle .5s;
    -webkit-animation: circle .5s;
}

nav {
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    text-align: center;
    top: 0;
    transform: translate(-800px);
    transition: all .5s;
    width: 100%;
    z-index: 3;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav::-webkit-scrollbar {
    display: none;
}

.menu_container {
    background-color: #2699fb;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 450px;
    left: 0;
    padding-top: 20px;
    position: fixed;
    text-align: left;
    top: 14vh;
    width: 210px;
    z-index: 4;
}

nav.open {
    transform: translateZ(0);
}

* {
    box-sizing: border-box;
}

img[class*="menu_icon_"] {
    display: inline-block;
    margin-left: 30px;
    padding: 13.5px 0;
    vertical-align: middle;
    width: 20px;

    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}

div[class*="menu_text_"] {
    color: #ffffff;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    padding: 13.5px 0;
    vertical-align: middle;

    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}

@keyframes circle {
    0% {
      opacity: 0;
      transform: scale(.1);
      -webkit-transform: scale(.1);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(3.5);
      -webkit-transform: scale(3.5);
    }
}

@keyframes puffIn {
    0% {
      opacity: 0;
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      transform: scale(2, 2);
      -webkit-transform: scale(2, 2);
      filter: blur(2px);
      -webkit-filter: blur(2px);
    }
    100% {
      opacity: 1;
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      filter: blur(0px);
      -webkit-filter: blur(0px);
    }
}

@keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(-80px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

@media screen and (min-width: 600px) {
    nav {
        z-index: 0;
    }

    .menu_container {
      height: 540px;
      padding-top: 30px;
      top: 200px;
      width: 280px;
    }

    img[class*="menu_icon_"] {
      margin-left: 50px;
      padding: 15px 0;
      width: 25px;
    }

    div[class*="menu_text_"] {
      font-size: 13px;
      font-weight: normal;
      margin-left: 40px;
      padding: 15px 0;
    }
}