@charset "utf-8";


/*--------------- ドロワーメニュー ---------------*/


.wrapper {
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

/* main {
    min-height: 100vh;
    transition: all .5s;
    flex-direction: column;
    justify-content: center;
} */

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #00000000;
  -webkit-touch-callout: none;
}
.menu-trigger {
    display: inline-block;
    width: 20px;
    height: 18px;
    vertical-align: middle;
    cursor: pointer;
    position: fixed;
    top: 23.5px;
    left: 19.5px;
    z-index: 100;
}

/* Tabキーでスペースを空ける */
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 8px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(1),
.menu-trigger.active span:nth-of-type(3) {
  width: 20px;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translate(-5.8px,5.6px) rotate(-45deg) scaleX(0.5);
  transform: translate(-5.8px,5.6px) rotate(-45deg) scaleX(0.5);
}
.menu-trigger.active span:nth-of-type(2) {
    -webkit-transform: translate(1.2px,0.6px) scaleX(1.05);
    transform: translate(1.2px,0.6px) scaleX(1.05);
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translate(-5.8px,-4.6px) rotate(45deg) scaleX(0.5);
  transform: translate(-5.8px,-4.6px) rotate(45deg) scaleX(0.5);
}

.menu-trigger::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    margin: -16px 0 0 -16px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.3);
    transition: all .1s;
    opacity: 0;
}
.menu-trigger.active::after {
    -webkit-animation: circle .5s;
    animation: circle .5s;
}

/* .container {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background-color: aqua;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translate(-800px);
    transition: all .5s;
} */

nav {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    /* padding-top: 8vh; */
    /* background-color: #26f4fb13; */
    text-align: center;
    position: fixed;
    top: 0;
    /* bottom: 0; */
    left: 0;
    z-index: 3;
    transform: translate(-800px);
    transition: all .5s;
    /* margin: auto; */

    -ms-overflow-style: none;  /* Edge, IE 対応 */
    scrollbar-width: none;  /* Firefox 対応 */
}

nav::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.menu_container {
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    /* -webkit-overflow-scrolling: touch; */
    width: 55%;
    height: 77%;
    padding-top: 3vh;
    background-color: #2699fb;
    text-align: left;
    position: fixed;
    top: 16%;
    /* bottom: 0; */
    left: 0;
    z-index: 4;
    /* transform: translate(-800px); */
    /* transition: all .5s; */
    /* margin: auto; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav.open {
    transform: translateZ(0);
}

* {
    box-sizing: border-box;
}

img[class*="menu_icon_"] {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0;
    margin-left: 9vw;
    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}

div[class*="menu_text_"] {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-family: Arial;
    padding: 15px 0;
    margin-left: 5vw;
    color: #ffffff;
    font-weight: bold;
    -webkit-tap-highlight-color: #00000000;
    -webkit-touch-callout: none;
}


/* ----- Animation ----- */

.box1.open {
    animation-name: puffIn;
    animation-duration: 0.5s;
}

.icon.open {
    animation-name: puffIn;
    animation-duration: 0.5s;
}

.userName.open {
    animation-name: puffIn;
    animation-duration: 0.7s;
}

.detail.open {
    animation-name: puffIn;
    animation-duration: 0.9s;
}

.box2.open {
    animation-name: slideInRight;
    animation-duration: 0.55s;
    animation-timing-function: ease-out;
}

.box3.open {
    animation-name: slideInRight;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
}

.box4.open {
    animation-name: slideInRight;
    animation-duration: 0.65s;
    animation-timing-function: ease-out;
}

.box5.open {
    animation-name: slideInRight;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

.box6.open {
    animation-name: slideInRight;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}

.box7.open {
    animation-name: slideInRight;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

@keyframes circle {
    0% {
      -webkit-transform: scale(.1);
      transform: scale(.1);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(3.5);
      transform: scale(3.5);
      opacity: 0;
    }
}

@keyframes puffIn {
    0% {
      opacity: 0;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-transform: scale(2, 2);
              transform: scale(2, 2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
    }
    100% {
      opacity: 1;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
}

@keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(-80px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
}

@media screen and (min-width: 600px) {
  /* nav {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translate(-4000px);
    transition: all .5s;
  } */

  .menu_container {
    width: 280px;
    height: 540px;
    padding-top: 30px;
    /* background-color: #2699fb; */
    /* text-align: left; */
    /* position: fixed; */
    top: 200px;
    /* left: 0; */
    /* z-index: 4; */
    /* border-top-right-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
  }

  /* nav.open {
    transform: translateZ(0);
  } */

  /* * {
    box-sizing: border-box;
  } */

  img[class*="menu_icon_"] {
    width: 25px;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* padding: 15px 0; */
    margin-left: 50px;
    /* -webkit-tap-highlight-color: #00000000; */
    /* -webkit-touch-callout: none; */
  }

  div[class*="menu_text_"] {
    /* display: inline-block; */
    /* vertical-align: middle; */
    font-size: 13px;
    /* font-family: Arial; */
    /* padding: 15px 0; */
    margin-left: 40px;
    /* color: #ffffff; */
    font-weight: normal;
    /* -webkit-tap-highlight-color: #00000000; */
    /* -webkit-touch-callout: none; */
  }
}